<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Homepage </title>
</head>

<body>
	<% const name="Sanam" %>
	<nav>
		<div class="site-title">
			<a href="/"><h1>AASON BAZAAR</h1></a>
			<p>Homepage</p>
			<p><%=name %></p>
		</div>
		<ul>
			<li><a href="/additem"><h1>ADD ITEM</h1></a>
			<li><a href="/login"><h1>LOGIN</h1></a>
		</ul>		
	</nav>

	<div class="body-content">
		<h2> All body contents will be here </h2>
	</div>
</body>

	<footer>
		ALL RIGHTS RESERVED
	</footer>
</html>